/*	Kazuma Sato 100 948 212
	COMP 1223 | CRN 13095
	Lab Instructor Abid Rana
	Lecture Instructor Maziar Masoudi

6. Create an internal or external style that does the following (start with internal then move it to external):-->
		<style>/*
	a. Make the width of the page 960px and have it centered.
		i. Hint: Do not do this individually; create a div with id wrapper like the pre-lab.
		ii. Hint: For centering check the margin in the lab manual.*/
body {
	background-color: #ECECEA;
}
#wrapper {
	max-width: 960px;
    margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	background-color: #74AFAD;/*
	b. Add a solid border to the site (the color should be a part of a theme and match the layout).*/
	border-style: solid;
	border-width: 3px;
	border-color: #D9853B;
}
#topwrap {
	background-color: #558C89
}/*
	c. Change the background color of the main section, article, header, nav and footer. 
		i. The colors should match and it should look themed i.e:
			1. Nav and footer same color
			2. Light color for content areas*/
#mainNav, #about {
	background-color: #558C89;
}/*
	d. Change the text color for all h1 tags to a color of your choice.*/
h1, h2, h3{
	color: #ECECEA;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 6px 2px;
}/*
	e. Change the text color for the h1 tag that is a direct child of the article tag to a different color.*/
h3 {
	color: #D9853B;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}/*
	f. Change the paragraph text color for the entire document.*/
a, p {color: #ECECEA;/*
	g. Change the font family to include three different fonts (Times, Sans Serif, etc).*/
	font-family: Garamond, times, serif;/*
	h. Set the font size for the paragraph text.*/
	font-size: 16px;
}/*
	i. Make the navigation list horizontal, evenly spaced and make it change color on hover.*/
#mainNav ul {
	width: 100%;
	list-style-type: none;
	margin: 5px 0 5px 0;
	padding: 0;
}
#mainNav li {
	float: left;
	width: 25%;
	margin: 4px 0 0 0;
	padding: 4px 0;
	display: inline;
	color: #D9853B;
}
#mainNav a {
	display: block;
	text-align: center;
	margin: 4px 0 0 0;
	padding: 4px 0;
}	
#mainNav a:hover {
	color: #D9853B
}
			/*

	j. Using pseudo-classes do the following:
		i. Edit the link in the blog paragraph for different states (hover, visited or active) to different effects.*/
#articleLink:visited {
	color:#D9853B;
	font-weight: bold;
}
#articleLink:hover {
	color: #558C89
}
#articleLink:active {
	color: #D9853B
}/*
		ii. Make the first letter of every paragraph a capital*/
#articleP:first-letter{
	text-transform: capitalize
}
hr {
	height: 2px;
	background-color: #D9853B;
	border-color: #D9853B;
	color:#D9853B;
	}
p {
	margin: 0 0 6px 0;
	}
#articleP p {
	margin: 0 0 6px 0;
}
#about ul {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#about li {
	float: left;
	width: 33%;
	margin: 0;
	padding: 0;
		display: inline;
		color: #D9853B;
}
#about a{
	display: block;
	text-align: center;
	margin: 0;
	padding: 0;
}
#about a:hover {
	color: #D9853B
}
#about p {margin-bottom: 0}
#validator ul {
	display: block;
	float: left;
	width: 100%;
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}
#validator li {
	float: left;
	width: 100px;
	margin: 0;
	padding: 0;
		display: inline;
		color: #D9853B;
}
footer {
	margin: 0
}