@charset "UTF-8";
html{
	font-size: 62.5%
}
/* H Tags*/
h1{

}
h2{}
	#camlidTable h2{
		font-family: "Times New Roman",Times,serif;
		font-size: 3em;
		font-weight: bold;
		text-align: center;
	}
h3{}
	#camlidTable h3{
		font-family: "Times New Roman",Times,serif;
		font-size: 1.6em;
		font-weight: bold;
		text-align: center;
	}
	#camlidTable h3.rowLable{
		text-align: right;
	}
/*Table Data format*/
table{}
	#camlidTable {
		width:100%;
	}
	#table3{
		width:100%;
		border-spacing: 1em;
	}

td{}
	td{
		font-family: "Times New Roman", Times, serif;
		font-size:1.4rem;
	}
	td.yellow{
		background-color: yellow;
	}
	td.white{
		text-align: right;
	}
tr{
	font-size: 1em;
}
/* Footer Validator Formatting */
#validator ul {
	display: block;
	float: left;
	width: 100%;
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}
#validator li {
	float: left;
	width: 100px;
	margin: 0;
	padding: 0;
		display: inline;
		color: #D9853B;
}