td.tableTop{
	text-align: center;
	font-weight: bold;
}
#row2 {
	text-align: right;
}
td.eng{
	background-color:#F8E0E0;
}
td.it{
	background-color: #F5A9A9;
}
td.ccna{
	background-color: #F5BCA9;
}
td.html{
	background-color: #F5D0A9;
}
td.bus{
	background-color: #F3E2A9;
}
td.math{
	background-color: #F2F5A9;
}


/* Footer Validator Formatting */
#validator ul {
	display: block;
	float: left;
	width: 100%;
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}
#validator li {
	float: left;
	width: 100px;
	margin: 0;
	padding: 0;
		display: inline;
		color: #D9853B;
}