/* General Colour and Formatting */
body{
	background-color:#f2f2f3;
}
header{
	height:10.1em !important;
	width:100%;
	background-color:#ee4b3e;
	z-index:2
}
section{
	background-color:#f5eacd;
	padding:.5em 0 .5em;
}
footer{
	position:absolute;
}
footer, a.upTop:link{
	margin-left:.5em;
}
#content{
	width:100%;
}
/* Navigation Top Bar */
.siteNav{}
	.siteNav ul{
		display:block;
		padding:.5em;
	}
	.siteNav li{
		display:inline;
		padding:.5em 2em;
	}
	a.siteNav{}
/* Footer Validator Formatting */
#validator ul {
	display: block;
	float: left;
	width: 100%;
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}
#validator li {
	float: left;
	width: 100px;
	margin: 0;
	padding: 0;
		display: inline;
		color: #D9853B;
}