* {
margin: 0; padding: 0; border: 0; outline: none; vertical-align: baseline; background: transparent;
}
 
body
{
line-height: 1.2;
}
 

 
ul, ol
{
list-style: none;
}
 
a
{
color: black;
text-decoration: none;
}
 
a:hover
{
text-decoration: underline;
}
 
